@font-face {
  font-family: 'Roboto Regular';
  src: url('/../vendors/roboto-fontface/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/../vendors/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype');
}

/* color */
$primary-color: #1889ba;
$secondary-color: #bdbdbd;
$lite-color: #155282;
$background-color: #90CAF9;
$dark-background-color: #155282;
$title-color: #1889ba;
$navbar-text-color: #FFFFFF;


$btn-primary-color: #00E785;
$btn-info-color: #636363;
$btn-lite-color: #FF004F;
$dark-color: #39383A;
$lite-background-color: #1889ba;

$sidebar-font-size: 16px;
$sidebar-padding: 20px 25px;

/* radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin appearance($type) {
  -webkit-appearance: $type;
  -moz-appearance:    $type;
  appearance:         $type;
}

/* box-shadow */
@mixin box-shadow($left, $top, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $left $top $blur $color;
    -moz-box-shadow:inset $left $top $blur $color;
    box-shadow:inset $left $top $blur $color;
  } @else {
    -webkit-box-shadow: $left $top $blur $color;
    -moz-box-shadow: $left $top $blur $color;
    box-shadow: $left $top $blur $color;
  }
}

/* transition */
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
