{
  "name": "projectName",
  "license": "proprietary",
  "type": "project",
  "autoload": {
    "psr-4": {
      "": "src/"
    },
    "classmap": [
      "app/AppKernel.php",
      "app/AppCache.php"
    ]
  },
  "require": {
    "php": ">=5.5.9",
    "atoum/atoum-bundle": "^1.4",
    "aws/aws-sdk-php-symfony": "^1.2",
    "bcc/cron-manager-bundle": "^3.0",
    "doctrine/doctrine-bundle": "^1.6",
    "doctrine/doctrine-fixtures-bundle": "^2.3",
    "doctrine/orm": "^2.5",
    "egeloen/google-map-bundle": "^3.0",
    "egeloen/serializer-bundle": "^1.0",
    "facebook/graph-sdk": "^5.5",
    "friendsofsymfony/jsrouting-bundle": "^1.6",
    "friendsofsymfony/oauth-server-bundle": "^1.5",
    "friendsofsymfony/rest-bundle": "^2.2",
    "friendsofsymfony/user-bundle": "~2.0",
    "giggsey/libphonenumber-for-php": "^8.5",
    "hwi/oauth-bundle": "^0.5.3",
    "incenteev/composer-parameter-handler": "^2.0",
    "jms/serializer-bundle": "^2.0",
    "jms/translation-bundle": "^1.3",
    "knplabs/knp-gaufrette-bundle": "^0.4.0",
    "knplabs/knp-paginator-bundle": "^2.5",
    "knplabs/knp-snappy-bundle": "^1.4",
    "leafo/scssphp": "^0.6.7",
    "liip/imagine-bundle": "^1.8",
    "misd/phone-number-bundle": "^1.2",
    "nelmio/api-doc-bundle": "^2.13",
    "nelmio/cors-bundle": "^1.5",
    "ocramius/package-versions": "^1.1",
    "paragraph1/php-fcm": "^0.7.0",
    "patchwork/jsqueeze": "^2.0",
    "php-http/guzzle6-adapter": "^1.1",
    "php-http/httplug-bundle": "^1.6",
    "sensio/distribution-bundle": "^5.0.19",
    "sensio/framework-extra-bundle": "^3.0.2",
    "slot/mandrill-bundle": "dev-master",
    "smalot/pdfparser": "^0.11.0",
    "stof/doctrine-extensions-bundle": "^1.2",
    "stripe/stripe-php": "^4.12",
    "symfony/assetic-bundle": "^2.8",
    "symfony/monolog-bundle": "^3.1.0",
    "symfony/polyfill-apcu": "^1.0",
    "symfony/security-acl": "^3.0",
    "symfony/swiftmailer-bundle": "^2.3.10",
    "symfony/symfony": "3.3.*",
    "twig/twig": "^1.0||^2.0",
    "vich/uploader-bundle": "^1.5"
  },
  "require-dev": {
    "sensio/generator-bundle": "~3.0",
    "symfony/phpunit-bridge": "~2.7"
  },
  "scripts": {
    "symfony-scripts": [
      "Incenteev\\ParameterHandler\\ScriptHandler::buildParameters",
      "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::buildBootstrap",
      "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::clearCache",
      "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::installAssets",
      "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::installRequirementsFile",
      "Sensio\\Bundle\\DistributionBundle\\Composer\\ScriptHandler::prepareDeploymentTarget"
    ],
    "post-install-cmd": [
      "@symfony-scripts"
    ],
    "post-update-cmd": [
      "@symfony-scripts"
    ]
  },
  "config": {
    "bin-dir": "bin"
  },
  "extra": {
    "symfony-app-dir": "app",
    "symfony-web-dir": "web",
    "symfony-assets-install": "relative",
    "incenteev-parameters": {
      "file": "app/config/parameters.yml"
    },
    "branch-alias": null
  }
}
