{% extends ['AdminBundle::layout.html.twig', 'GeoksAdminBundle::layout.html.twig'] %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ include('GeoksAdminBundle:Form:form_default.html.twig', {"form": form}) }}
        </div>
    </div>
{% endblock %}
