{% extends 'GeoksAdminBundle::layout.html.twig' %}

{% block body %}
    <h1>{{ "app.index"|trans }}</h1>
    <hr>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <a href="#">
            <div class="info-box">
                <span class="info-box-icon blue">
                    <i class="glyphicon glyphicon-user glyphicon-white"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        {{ "app.users"|trans }}
                    </span>
                    <span class="info-box-number">{{ users | length }}</span>
                </div>
            </div>
        </a>
    </div>
{% endblock %}
